.image-card {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

.card-elements {
  width: 200px;
  height: 200px;
}

.list-pokemon-detail{
  font-size: 12px;
}

.button{
  margin-left: 10px;
  margin-right: 10px;
}

.button-pokemon-favorites{
  font-size: 10px;
}
