.image-card {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

.card-elements {
  width: 200px;
  height: 200px;
}

.list-pokemon-detail{
  font-size: 12px;
}

.button{
  margin-left: 10px;
  margin-right: 10px;
}

.button-pokemon-favorites{
  font-size: 10px;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: transparent;
  color: black;
}

.search-input:focus {
  border-color: #666;
  outline: none;
}